<div class="main-container" layout="column">
<img id="main-img" src="/img/boxes.svg">
 <div id="home-header">
    <md-button class="little-btn current" ng-click="openRightMenu()">?
    </md-button>
  </div>
  <div id="home-content" layout="row">
  <div layout="column">
  <div id="bl-title">BraiNLaB</div>
  <div id="go-btn">
  <md-button ng-click="letsGo()">Let's go</md-button>
  </div>
  </div>
  <md-sidenav id="info-panel" md-component-id="right" class="md-sidenav-right">
    <md-list>
      <md-list-item><h3>Welcome to the BrainLab!</h3></md-list-item>
      <md-list-item><h3>What's a BrainLab?</h3></md-list-item>
      <md-list-item>The BrainLab is your own personal neural network builder. Whether you are a newbie or a machine learning Phd, let the BrainLab be a convenient way for you to train and test your own neural networks.</md-list-item>
      <md-list-item><h3>A neural network? That sounds intimidating.</h3></md-list-item>
      <md-list-item>It is! But guiding new people through the process of training their own network is one of our goals here. You will find helpful hints and descriptions throughout the site.</md-list-item>
      <md-list-item><h3>You still haven't explained what a neural network is.</h3></md-list-item>
      <md-list-item>It's an algorithm for creating a model that can be used to predict something. For example, a doctor is deciding between two different treatments for a patient for a particular ailment. She takes data from previous patients treated for this ailment and trains a model. Then she feeds the current patient's data into the model, and it can give a best guess for the right treatment.</md-list-item>
    </md-list>
  </md-sidenav>
  </div>
</div>
