<div class="main-container" layout="column">
  <div id="home-header">
    <md-button ng-click="openRightMenu()">?
    </md-button>
  </div>
  <div id="home-content" layout="row">
  <md-button ng-click="letsGo()">Let's go</md-button>
  <md-sidenav id="info-panel" md-component-id="right" class="md-sidenav-right">
    <md-list>
      <md-list-item><h3>Welcome to the BrainLab!</h3></md-list-item>
      <md-list-item><h3>What's a BrainLab?</h3></md-list-item>
      <md-list-item>The BrainLab is your own personal neural network builder. Whether you are a newbie or a machine learning Phd, let the BrainLab be a convenient way for you to train and test your own neural networks.</md-list-item>
      <md-list-item><h3>A neural network? That sounds intimidating.</h3></md-list-item>
      <md-list-item>It is! But guiding new people through the process of training their own network is one of our goals here. You will find helpful hints and descriptions throughout the site.</md-list-item>
      <md-list-item><h3>You still haven't explained what a neural network is.</h3></md-list-item>
      <md-list-item>Let's take an example: you want to predict how </md-list-item>
    </md-list>
  </md-sidenav>
  </div>
</div>
