body {
  display: flex;
  width: 100%;
  background-color: red; }

ui-view {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }

#getstarted {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center; }
