body {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100%;
  background: #2BC0E4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2BC0E4, #EAECC6);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2BC0E4, #EAECC6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

body, ul, li, h1, h2, h3 {
  margin: 0;
  list-style: none;
  color: #FCF4ED; }

h1, h2, h3 {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase; }

.main-container {
  display: flex;
  width: 100%;
  height: 100%; }

.content {
  background-color: transparent; }

ui-view {
  display: flex;
  width: 100%;
  height: 100%; }

.md-button {
  border: 2px solid #FCF4ED; }

.circle-btn {
  margin: 6px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  border: dotted; }

.current-btn {
  border-radius: 20px 0px 20px 20px;
  background-color: #FCF4ED;
  color: #2BC0E4;
  border: none; }

#home-header {
  display: flex;
  justify-content: flex-end; }

#home-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center; }

#info-panel {
  display: flex;
  background-color: #556270;
  color: #F4F8FC; }

md-backdrop {
  transition: none; }

md-backdrop.md-opaque {
  opacity: 0; }

#files {
  display: none; }

#upload-button {
  align-self: center; }

#next-button {
  align-self: center; }

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  overflow: auto; }

.output-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.column-card {
  display: flex;
  margin: 10px;
  min-width: 150px;
  min-height: 200px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  justify-content: flex-start; }

.column-data {
  margin: 5px; }

.input {
  background-color: #556270; }

.output {
  background-color: #FF6B6B; }
