#loading {
  display: flex;
  align-items: center;
  margin: 0 auto; }

#stats {
  display: flex;
  margin: 20px; }

#results {
  display: flex;
  justify-content: space-between; }

.big {
  font-size: 25px;
  text-transform: none;
  line-height: 30px;
  margin: 30px 0px 20px 0px; }

#circles {
  overflow: auto;
  width: 90vw; }

.accuracy-tab {
  width: 80vw;
  display: flex; }
