.test-section {
  display: flex;
  justify-content: center; }

.big {
  font-size: 25px; }

.form-section {
  padding: 40px; }

#inputFile {
  display: none; }

#sampleTable {
  display: flex;
  flex-wrap: wrap; }

.sampleRowDiv {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around; }

.inputField {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  padding: 2px; }

table {
  display: block; }

td {
  display: inline-block; }

th {
  display: inline-block; }
