<div>
  <h1>Now you can test data with your network!</h1>
  <p>Choose if you want to test a single sample of inputs or an entire set of input samples:</p>
  <h3>Example Rows</h3>
  <div>
    <table>
      <tr>
        <th ng-repeat='h in sampleHeaders'>{{h}}</th>
      </tr>
      <tr ng-repeat='row in sampleRows'>
        <td ng-repeat='data in row'>{{data}}</td>
      </tr>
    </table>
  </div>
  <div layout="column" ng-cloak>
    <md-content class="md-padding">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab ng-repeat="tab in tabs track by $index" label="{{tab.name}}" ui-sref='{{tab.state}}'>
          <md-content class="md-padding">
            <ui-view></ui-view>
            <!-- <div ng-include=tab.url></div> -->
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
  <div ng-show="receivedResult">
    <h3>Testing Result</h3>
    <p>Based on your input(s), the neural network predicts the output(s) to be:</p>
    <p ng-repeat='o in outputs'>{{o}}</p>
  </div>
</div>
