<div class="main-container" layout='column'>
    <div class="form-section" ng-cloak>
        <!-- <md-content class="md-padding"> -->
        <div class="test-section">
            Now you can test data with your network! Choose if you want to test a single sample of inputs or an entire set of input samples:
        </div>
        <div class="test-section">
            Here is a sample of what the inputs for this model should look like:
        </div>
        <div class="test-section">
            <div>
                <table id="sampleTable">
                    <tr>
                        <th ng-repeat='h in sampleHeaders track by $index'>{{h}}</th>
                    </tr>
                    <tr ng-repeat='row in sampleRows track by $index'>
                        <td ng-repeat='data in row track by $index'>{{data}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <md-tabs md-dynamic-height md-border-bottom ng-hide='receivedResult'>
            <md-tab ng-repeat="tab in tabs track by $index" label="{{tab.name}}" ui-sref='{{tab.state}}'>
                <md-content class="md-padding">
                    <ui-view ng-show="!receivedResult" layout="column"></ui-view>
                    <!-- <div ng-include=tab.url></div> -->
                    <div ng-show="showLoader" id="testingLoader">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
        <div class="test-section" ng-show="receivedResult">
            <table id="sampleTable">
                <tr>
                    <th ng-repeat='h in sampleHeaders track by $index'>{{h}}</th>
                    <th class="outputTh">Output</th>
                </tr>
                <!--multiple display-->
                <tr ng-if="test.testType === 'multiple'" ng-repeat='row in test.testInputs track by $index'>
                  <td ng-if="test.testType === 'multiple'" ng-repeat='data in row track by $index'>{{data}}</td>
                  <td ng-if="test.testType === 'multiple'">{{outputs[0][$index]}}</td>

                 <!--single display-->
                <tr ng-if="test.testType === 'single'">
                   <td ng-if="test.testType === 'single'" ng-repeat='data in test.testInputs track by $index'>{{data}}</td>
                    <td ng-if="test.testType === 'single'">{{outputs[0][0]}}</td>

                </tr>
            </table>
        </div>
        <div ng-show='receivedResult' ng-click='testAgain()'>
             <md-button>Test Again?</md-button>
        </div>
        <!-- </md-content> -->
    </div>
</div>
