<div class="container">
  <h1 style="color: white">Log in</h1>
  <form ng-submit="loginUser(userInfo)">
    <md-input-container class="md-block">
      <div class="form-group">
        <label style="color: white">Email</label>
        <input type="text" class="form-control" ng-model="userInfo.email" required />
      </div>
    </md-input-container>
    <md-input-container class="md-block">
      <div class="form-group">
        <label style="color: white">Password</label>
        <input type="password" class="form-control" ng-model="userInfo.password" required />
      </div>
    </md-input-container>
    <md-button type="submit" class="btn btn-block btn-primary">SUBMIT</md-button>
  </form>
</div>
