<!-- <login text="signup" user-info="credentials" submit="signupUser(credentials)"></login> -->
<div>
  <h1 style="color: white">Sign up for an account</h1>
  <p style="color: white">Save your own training models to test data anytime!</p>
  <form ng-submit="signupUser(userInfo)">
    <div class="form-group">
      <label style="color: white">Name</label>
      <input type="text" class="form-control" ng-model="userInfo.name" required />
    </div>
    <div class="form-group">
      <label style="color: white">Email</label>
      <input type="text" class="form-control" ng-model="userInfo.email" required />
    </div>
    <div class="form-group">
      <label style="color: white">Password</label>
      <input type="password" class="form-control" ng-model="userInfo.password" required />
    </div>
    <button type="submit" class="btn btn-block btn-primary">SUBMIT</button>
    <p style="color: red">{{errorMessage}}</p>
  </form>
</div>
