<div class="container">
  <h1>Please Upload</h1>

  <form ng-submit=uploadData() name="uploadForm">
    <div class="col-lg-3">
      <h3>Problem Type</h3>
      <select name="problemType" ng-model='upload.problemType' >
        <option value="binary">Binary</option>
        <option value="multi_class">Multi-Class</option>
      </select>
    </div>

    <div class="col-lg-3">
      <h3>Header</h3>
      <select name="header" ng-model='upload.headers' >
        <option value='yes'>Yes</option>
        <option value='no'>No</option>
      </select>
    </div>
    <div class="col-lg-3">
      <h3> Delimiter </h3>
      <select name="delimiter" ng-model='upload.delimiter' >
        <option value=','>Comma</option>
        <option>Space</option>
        <option value=';'>Semicolon</option>
        <option value='\t'>Tab</option>
      </select>
    </div>
    <div class="col-lg-3">
    <input id='files' type="file" ng-model="upload.dataFile" accept=".csv,.txt" required >
    <input type="submit" value="Submit"/>
    </div>
  </form>

  <div ng-show="showData">
    <div class="col-lg-8">
    <h4>Input</h4>
    <div class="input-section">
      <div ng-repeat="column in inputData track by $index" class="input-columns col-lg-3" ng-click="toggleInputCol($index)">
        <h5 class="column-data">{{headers[$index]}}</h5>
        <div class="column-data" ng-repeat="data in column.slice(0, 5) track by $index">{{data}}</div>
        <div class="column-data elipses">.</div>
        <div class="column-data elipses">.</div>
        <div class="column-data elipses">.</div>
      </div>
      </div>
    </div>
    <div class="col-lg-4">
    <h4>Output</h4>
    <div class="output-section">
    <div class="container">
        <h5 class="column-data">{{headers[headers.length - 1]}}</h5>
        <div class="column-data" ng-repeat="data in outputData.slice(0, 5) track by $index">{{data}}</div>
        <div class="column-data elipses">.</div>
        <div class="column-data elipses">.</div>
        <div class="column-data elipses">.</div>
    </div>
    </div>
    </div>
  </div>

</div>
