#home-header {
  display: flex;
  justify-content: flex-end;
}

#home-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#go-btn {
  display: flex;
  justify-content: center;
}

#info-panel {
  display: flex;
  background-color: $dark-color;
  color: $main-font-color;
}

#main-img {
  align-self: flex-start;
  position: absolute;
  height: 100%;
}

#bl-title {
  align-self: center;
  font-size: 150px;
  font-family: "Courier New", Courier, monospace;
  position: relative;

}

md-backdrop {
  transition: none;
}

md-backdrop.md-opaque {
  opacity: 0;
}
