#loading {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

#stats{
  display: flex;
  margin: 20px;
}

#results{
  display: flex;
  justify-content: space-between;
}

.big {
  font-size: 25px;
  text-transform: none;
  line-height: 30px;
  margin: 30px 0px 20px 0px;
}

#circles {
  overflow: auto;
  width: 90vw;
}

<<<<<<< HEAD
.accuracy-tab {
  width: 80vw;
  display: flex;
=======
.result-header {
  font-size: 25px;
  fill: white;
>>>>>>> ec90b416603925317e7b63e8a83bcfcd6352845a
}
