#files {
  display: none;
}

#upload-start {
  align-items: center;
  justify-content: center;
}

#next-button {
  align-self: center;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  overflow: auto;
}

.output-container {
   display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.column-card {
  display: flex;
  margin: 10px;
  min-width: 150px;
  min-height: 200px;
  width:-moz-fit-content;
  width:-webkit-fit-content;
  width:fit-content;
  height:-moz-fit-content;
  height:-webkit-fit-content;
  height:fit-content;
  justify-content: flex-start;
}

.column-content {
  margin: 15px 5px 15px 15px;
}

.header {
  margin-bottom: 16px;
}

.input {
  background-color: $right-color;
  // div, ul, li, h3 {
  //   color: $dark-color;
  // }
}

.output {
  background-color: $accent-color;
}

ul {
  -webkit-padding-start: 20px;
}

md-checkbox:last-of-type {
  margin-left: 20px;
}

.grey-out {
  opacity: 0.5;
}
